* {
    color: var(--main-text-color);
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-color);
}

.body-lock-scroll {
    overflow-y: hidden;
}

.main-container {
    padding: 64px 15px;
}

.container {
    max-width: var(--main-container);
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.content {
    margin-top: 40px;
}

.content--active {
    animation: active 0.7s forwards !important;
}

@keyframes active {
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hide {
    display: none !important;
}

.hidden {
    animation: hiddenList 0.3s linear forwards;
}

.show {
    animation: showList 0.3s linear forwards;
}

@keyframes hiddenList {
    0% {
        opacity: 1;
        visibility: visible;
    }

    50% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes showList {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    50% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}
